body {
    width: 1000px;
    margin: 1em auto;
    background-color: #FBF2E9;
}
#text, #textBtn {
    width: 400px;
}
#myText {
    width: 394px;
    height: 50px;
}
.gridContainer {
    display: grid;
    grid-template-columns: 160px 160px 160px 400px;
    grid-template-rows: 23em;
    grid-gap: .8em;
}
.gridContainer > div {
    border: 1px solid #C7C7C7;
    padding: .3em;
}
.gridCell {
    display: grid;
    grid-template-rows: 19em 3em;
}
.gridCell > div > h4, .gridCell > div > h3 {
    margin: 0;
}
.gridCell > div > h3 {
    text-align: right;
}
.btnSelect, #btnBuy {
    width: 100%;
    font-weight: bold;
}
.btnSelect:hover, #btnBuy:hover {
    cursor: pointer;
}
.gridCell > div > span {
    font-size: .7em;
}
.gridForm {
    padding: 1em;
}
.gridForm input, .gridForm textarea {
    width: 235px;
}
.cells {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: .5em;
}
#btnBuy {
    grid-column: 1/3;
}
.cells p {
    margin: 0;
}
#address {
    height: 5em;
}
#comment {
    height: 7em;
}

