body {
    font-family: 'News Cycle', sans-serif;
    font-size: .9rem;
}
.navbar {
    background-color: #1B5589;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #C7C7C7;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #EDEDED;
}
.added {
    font-size: .7rem;
}
.more-left {
    background-color: #6C757D;
}
.more-right {
    background-color: #F8F9FA;
}
.offset-1 {
    margin-left: 20px;
}
span.figure {
    width: 1.1rem;
    height: 1.1rem;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.fig-right {
    position: relative;
    top: 2px;
    transform: rotate(45deg);
    margin-left: -14px;
}
.fig-left {
    position: relative;
    top: 3px;
    transform: rotate(225deg);
    margin-right: -14px;
}
.date {
    position: relative;
    top: -1px;
    padding: .2rem;
    font-size: .7rem;
}

@media all and (max-width: 1000px){
    .icon {display: none}
}