.nav-wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
}
main.container {
    margin-top: 2rem;
}
.collection, .collection .collection-item {
    border: none;
}
.collection a.collection-item:not(.active):hover {
    background-color: #bbdefb;
}
i.small {
    font-size: 25px;
}
span.badge {
    min-width: 1rem;
}
a.ava:hover {
    background-color: transparent;
}
.edit-ava {
    max-width: 300px;
}
.edit-ava .card-image{
    margin-bottom: 20px;
}
.set-ava {
    width: 100%;
}
.p-x-0 {
    padding-right: 0;
    padding-left: 0;
}
.m-t-0 {
    margin-top: 0;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-t-1 {
    margin-top: 5px;
}
article .card .card-content p {
    margin-top: 10px;
}
.friends {
    padding: 20px 12px 1px 12px ;
}
.friends .card-content {
    padding: 0;
}
.friends img {
    max-width: 50px;
    max-height: 50px;
    margin-left: -5px;
}
.friends > div > div p {
    font-size: .7rem;
}
.card.edit-ava {
    margin: auto;
}