body {
    background-color: #FBF2E9;
    width: 100vw;
    margin: 20px;
    text-align: center;
    position: relative;
}

#back {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}

.blocks {
    display: inline-flex;
    flex-wrap: wrap;
}
.circle {
    display: inline-block;
    width: 70%;
}

.circle__el {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.circle__el span {
    position: absolute;
    display: block;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circle__fill {
    border: none;
}

.block {
    border: 1px solid grey;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.block > div {
    padding: 10px;
}

.header {
    border-bottom: 1px solid grey;
}

.footer {
    border-top: 1px solid grey;
    font-size: smaller;
}

.footer > div {
    display: inline-flex;
    padding: 5px;
}

.footer > div:first-child {
    border-right: 1px solid grey;
}