.wrapper, .block13 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.block1 {
    display: grid;
    grid-template-rows: repeat(5, 35px);
    grid-gap: 10px;
}
.block2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 35px);
    grid-gap: 10px;
}
.block2 .name {
    grid-column: 1/3;
}
.block132, .block2 div {
    align-self: end;
}
.button {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: right;
}

@media all and (max-width: 900px) {
    .block1, .block2 {grid-column: 1/3;}
    .block2 {grid-row: 2/3;}
}
@media all and (max-width: 600px) {
    .block131, .block132, .block21, .block22, .block23, .block24 {grid-column: 1/3;}
    .block132 {grid-row: 2/3;}
    .block21 {grid-row: 2/3;}
    .block22 {grid-row: 3/4;}
    .block23 {grid-row: 4/5;}
    .block24 {grid-row: 5/6;}
}