body {
    background-color: #019E9E;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    padding: 15px;
    background-color: #008B8B;
    color: white;
}
.wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85vh;
    grid-gap: 10px;
    margin-top: 60px;
    margin-left: 10px;
}
.col {
    min-width: 300px;
    max-width: 400px;
    border-radius: 5px;
    overflow: auto;
    background-color: #DCDCDC;
}
.num4 {
    grid-column: 4/5;
}
.num5 {
    grid-column: 5/6;
}
h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 20px auto 15px 15px;
}
.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin: 10px 15px;
    padding: 15px 10px 5px 15px;
    grid-gap: 10px;
    align-items: center;
}
.text {
    grid-column: 1/6;
    line-height: 1.5em;
}
.checkbox, .attach, .comments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    font-size: 12px;
}
img {
    width: 15px;
    height: 15px;
}
.ava img {
    width: 30px;
    height: 30px;
}
div.ava {
    justify-self: right;
    grid-column: 5/6;
}