body {
    background-color: #FBF2E9;
    width: 400px;
    margin: 20px auto;
}
.long {
    width: 3em;
    margin: 0 .5em;
}
.generate {
    margin: .5em auto;
}
label[for="result"] {
    font-weight: bold;
    font-size: larger;
}
.generate:hover {
    cursor: pointer;
}