body {
    background-color: #FBF2E9;
}
nav  {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #808080;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #E7EBE2;
    height: 100vh;
    max-width: 230px;
}
.menu {
    cursor: pointer;
    position: relative;
    left: 10px;
    top:10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
img {
    width: 70px;
    height: 70px;
}
a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}
span {
    display: inline-block;
    position: relative;
    bottom: 30px;
    color: #E7EBE2;
    width: 0;
    opacity: 0;
    transition: width 1s, opacity 1s;
}
li:hover {
    background-color: #5E5E5E;
}
.show {
    margin-right: 40px;
    width: 100px;
    opacity: 1;
    transition: width 1s, opacity 1s;
}
section {
    margin-left: 100px;
    text-align: center;
}
.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.wrap div {
    padding: 10px;
    border: 1px solid grey;
    color: white;
}
.colors h3{
    display: inline-block;
}
.colors div {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    width: 75px;
    padding: 5px;
    border: 1px solid grey;;
}
.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.red {background-color: #DF7B9C;}
.green {background-color: #28B9B2;}
.orange {background-color: #FF895B;}
.yellow {background-color: #EFBB2B;}