#calculator, #tablo {
    width: 150px;
}
table {
    width: 156px;
}
#tablo {
    height: 1.1em;
    background-color: white;
    padding: .2em;
    text-align: right;
    margin-bottom: 1em;
    border: 1px solid grey;
}
td {
    text-align: center;
    padding: .5em;
    background-color:#E7E7E7;
}
td:hover {
    background-color: #DBDBDB;
    cursor: pointer;
}
td:active {
    background-color: #BBBBBB;
}