@import "margin-padding.css";
.nav-wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
}
main.container {
    margin-top: 2rem;
}
.collection, .collection .collection-item {
    border: none;
}
.collection a.collection-item:not(.active):hover {
    background-color: #bbdefb;
}
i.small {
    font-size: 25px;
}
span.badge {
    min-width: 1rem;
}
a.ava:hover {
    background-color: transparent;
}
.edit-ava {
    max-width: 300px;
}
.edit-ava .card-image{
    margin-bottom: 20px;
}
.set-ava {
    width: 100%;
}
article .card .card-content p {
    margin-top: 10px;
}
.friends {
    padding: 20px 12px 1px 12px ;
}
.friends .card-content {
    padding: 0;
}
.friends img {
    max-width: 50px;
    max-height: 50px;
    margin-left: -5px;
}
.friends > div > div p {
    font-size: .7rem;
}
.card.edit-ava {
    margin: auto;
}
article img {
    margin-top: 24px;
    margin-left: 24px;
}
article .col.s10 {
    padding-top: 24px;
    padding-left: 40px;
}
article p:not(.count) {
    font-size: .7rem;
}
article.card .card-content {
    padding-top: 12px;
}
div.count, div.event-data {
    float: left;
}
.clear-float {
    clear: left;
}
div.count + div, .event-data {
    margin-right: 10px;
}
.search input[type=text] {
    width: 50%;
}
.events .card-image span.card-title {
    font-weight: bold;
    background-color: grey;
}
.events .card .card-image .card-title {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}
.events .card .card-action {
    font-weight: bold;
    font-size: .9rem;
}
.events .card .card-content div {
    font-size: .8rem;
    margin-bottom: 10px;
}
.users-mes img {
    width: 40px;
    height: 40px;
}
.users-mes {
    border: 1px solid #EDEDED;
    max-height: 100vh;
    overflow: auto;
}
.user-mes {
    max-height: 70px;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
    font-size: .8rem;
}
div.username, span.username, .unread {
    font-weight: bold;
}
span.mes-time {
    font-size: .7rem
}
.user-mes.active, .user-mes.active {
    color: white;
    background-color: #2196F3;
}
div.mes-content.col.s12.l7.xl8{
    padding-left: 30px;
}
.form-send {
    position: absolute;
    bottom: 0;
    width: 65%;
}
.mes-content p {
    margin-top: 80px;
}
@media all and (max-width: 1200px) {.form-send{width: 58%}}
@media all and (max-width: 992px) {.form-send{width: 93%}}
