@import "special.css";
body {
    background-color: #F5F5F5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 30px auto auto 20px;
    font-size: 11px;
}
h3 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.checkboxes .block2 {
    position: absolute;
    top: 12px;
    left: 100px;
}
.radioboxes, .checkboxes, .buttons, .textarea {
    margin-top: 20px;
}