.autocomplete {
    position: relative;
    display: inline-block;
    width:300px
}
input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #d4d4d4;
}
.autocomplete-items div:hover, .autocomplete-active {
    font-weight: bold;
}