body {
    width: 600px;
    margin: 10px auto;
    background-color: #FBF2E9;
}
h3{
    text-align: center;
}
.params, input, .btnSignUp, select {
    width: 250px;
    height: 21px;
    margin: auto;
}
.btnSignUp, select {
    width: 254px;
}
input, select {
    margin-bottom: 10px;
}
.btnSignUp, .btnSave, select {
    cursor: pointer;
    height: 27px;
}
.invalid {
    border: 1px solid red;
}
.error {
    display: inline-block;
    width: 201px;
    text-align: right;
    color: red;
    font-size: .6em;
}
.error.password {
    width: 180px;
}
.error.phone {
    width: 150px;
}
.grid {
    display: grid;
    margin-left: 20px;
    grid-template-columns: 300px 300px;
}
.btnSave {
    margin-left: 20px;
    width: 554px;
}
header h4 {
    margin: 15px 30px;
    text-align: right;
}
hr {
    margin: 15px 25px;
}
.exit {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}