body {
    width: 450px;
    margin: auto;
}
h2 {text-align: center;}
label, span {font-size: larger;}
input {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
#male, #female, #subscribtion {
    width: 20px;
}
#name {margin-left: 10px;}
#email {margin-left: 42px;}
#password {margin-left: 14px;}
#repeat {margin-left: 34px;}
#register {width: 409px}
#fullName { margin-left: 5px;}
#avatar {border: none; margin-left: 25px; width: 308px;}
#birthday { margin-left: 13px;}
#male { margin-left: 20px;}
#subscribtion { margin-left: 0;}
p.gender {
    display: inline-block;
    width: 338px;
    margin: 5px 0;
}
.parsley-errors-list li, .parsley-errors-list{
    display: inline;
    padding-left: 10px;
    color: red;
}
.wrapper {
    width: 407px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid grey;
}
.wrapper div {
    border: 1px solid grey;
    padding: 10px 20px;
}
.next {
    width: 410px;
    margin-top: 10px;
}
.next:hover #female:hover, #male:hover, #female:hover, #subscribtion:hover, #register:hover{
    cursor: pointer;
}
