.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.wrapper1 span:last-child {
     justify-self: right;
}
.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
}
.wrapper2 section {
    grid-column: 1/3;
}
.wrapper21 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
}
.wrapper_price {
    display: grid;
    grid-template-columns: 6.5em 7em;
}
.row1 {
    display: grid;
    grid-template-rows: 6em;
    justify-items: center;
    /*align-items: center;*/
}
/*.content {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(6, 1fr);*/
    /*grid-template-rows: 6em 3em 4em;*/
    /*justify-items: center;*/
    /*align-items: center;*/
/*}*/
/*.row1 {*/
    /*grid-column: 1/7;*/
/*}*/