body {
    background-color: #F5F5F5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0F4371;
    color: white;
}
aside {
    background-color: white;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 0 30px;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0;
}
h4 {
    font-weight: bold;
    margin: 30px 0 15px 0;
    color: #0F4371;
}
.wrapper1 {
    width: 1000px;
    padding: 0 10px;
    margin: 1em auto;
}
.wrapper1 span:last-child {
    font-size: 0.7em;
}
.wrapper2 {
    width: 1000px;
    margin: 70px auto;
    padding: 0 10px;
    font-size: .8em;
}
.wrapper21 {
    margin: 10px 0;
}
.wrapper21 button {
    width: calc(950px/6);
    border: none;
    background-color: #0F4371;
    border-radius: 5px;
    color: white;
    height: 30px;
    cursor: pointer;
}
input[type="text"] {
    padding-left: 10px;
    height: 25px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
.wrapper21 input {
    width: calc(950px / 6 - 14px);
}
.wrapper_price .min {
    width: 3em;
    margin-top: 5px;
    margin-right: 3px;
}
.wrapper_price .max {
    width: 4em;
    margin-top: 5px;
    margin-right: 3px;
}
.wrapper_price p:nth-child(3):after {
    content: "$ -";
}
.wrapper_price p:nth-child(4):after {
    content: "$";
}
#class_type {
    background: url("../image/triagle.png") no-repeat left calc(950px / 6 - 14px) top 10px white;
}
#to, #from {
    background: url("../image/pointer.png") no-repeat left calc(950px / 6 - 25px) top 1px white;
}
#depart_date, #return_date {
    background: url("../image/table.png") no-repeat left calc(950px / 6 - 25px) top 3px white;
}
main {
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    background-color: white;
}
.row1, .row2 {
    border-bottom: 2px solid #EEE;
}
.row2 {
    background-color: #F5F5F5;
}
/*.row1 {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: white;*/
    /*border-bottom: 2px solid #EEE;*/
    /*text-align: center;*/
/*}*/